name: CI

on:
  push:
    branches: [develop, main]
  pull_request:
    types: [opened, synchronize]

jobs:
  tests:
    name: Lint&Test
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint:all

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            contracts:
              - 'packages/contracts/**'

      - name: Contract tests
        if: steps.changes.outputs.contracts == 'true'
        run: pnpm run --filter contracts test

      - name: Contract coverage report
        if: steps.changes.outputs.contracts == 'true'
        run: pnpm run --filter contracts coverage

      - name: Upload contract coverage report
        if: steps.changes.outputs.contracts == 'true'
        uses: codecov/codecov-action@v3
        with:
          directory: packages/contracts
